<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    
    <form action="/update/<%= Post._id %>" method="post">
        <textarea class="font-[bold] text-black" type="text" name="content"> <%= Post.content %> </textarea><br>
        <input class="bg-white font-bold rounded-md px-[2vw] ml-[7vw] font-[bold] text-black" type="submit" value="Update"> <br>
    </form>
    <a class="text-white mt-[5vw] text-[1.2vw] underline" href="/feed"> go back </a>

</body>
</html>