<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username"><br>
        <input type="text" name="name" placeholder="name"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="number" name="age" placeholder="age"> <br>
        <input type="submit" value="Register"> <br>
        <a id="login" href="/login"> already have account / login </a>
    </form>

</body>
</html>