<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    
    <form action="login" method="post">
        <input type="email" name="email" placeholder="email"><br>
        <input type="text" name="password" placeholder="password"> <br>
        <input type="submit" value="Login"> <br>
        <a id="register" href="/"> don't have account / register </a>
    </form>

</body>
</html>