<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h1> Create Post </h1>
    
    <form action="/createPost" method="post">
        <input type="text" name="title" placeholder="title"><br>
        <input type="text" name="description" placeholder="description"><br>
        <input type="submit" value="Create Post"> <br>
    </form>
    <a href="/"> back home </a>

</body>
</html> -->